body{
    margin: 0;
}

.botonClass{
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: green;
    bottom: 1vh;
    left: 1vh;
    cursor: pointer;
    font-size: 2rem;
}

.navClass{
    background-color: aquamarine;
    padding: 2rem;
    text-align: center;
}


.dark{
    background: black;
}