body{
    margin: 0;
}


.classDivUno{
    background-color: aqua;
    height: 50px;
}

.classContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.classArticleCero{
    background-color: red;
    width: 300px;
    height: 100px;
    text-align: center;
    font-size:2rem;
}
.classArticleDos{
    background-color: green;
    width: 300px;
    height: 100px;
    text-align: center;
    font-size:2rem;
}
.classArticleTres{
    background-color: crimson;
    width: 300px;
    height: 100px;
    text-align: center;
    font-size:2rem;
}
.classArticleCuatro{
    background-color: yellow;
    width: 300px;
    height: 100px;
    text-align: center;
    font-size:2rem;
}
.classArticleCinco{
    background-color: blue;
    width: 300px;
    height: 100px;
    text-align: center;
    font-size:2rem;
}
.classArticleUno{
    background-color: orange;
    width: 300px;
    height: 100px;
    text-align: center;
    font-size:2rem;
}



.classDivDos{
    background-color:chartreuse;
    height: 50px;
}
